<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="ui menu">

            <div class="header item">
                Home
            </div>
            <a class="item">
                About Us
            </a>
            <a class="item">
                Our Services
            </a>
            <a class="item">
                Contact Us
            </a>
        </div>

        <br>
        <br>
        <br>

        <div class="ui container">
            <form action="/edit/<%- task._id %>" class="ui form" method="POST">

                <div class="ui three fields">
                    <div class="field">
                        <label for="title" class="ui header green">Enter Task Title</label>
                        <input type="text" name="title" value="<%- task.title %>">
                    </div>

                    <div class="field">
                        <label for="disc" class="ui header green">Enter Task Discription</label>
                        <input type="text" name="disc" value="<%- task.disc %>">
                    </div>

                    <div class="field">
                        <label for="status" class="ui header green">Enter Task Status</label>
                        <!-- <input type="text" name="status" value="<%- task.status %>"> -->
                        <select name="status" value="<%- task.status %>">
                            <option value="none">Select status</option>
                            <option value="Completed">Task Completed</option>
                            <option value="Pending">Task Pending</option>
                        </select>
                    </div>

                </div>
                <div class="ui fluid field">
                    <input type="submit" value="submit" class="ui button green fluid">
                </div>
            </form>


            <br>
            <br>

        </div>
    </div>


    <script src="/js/semantic.min.js"></script>
</body>

</html>